@charset "UTF-8";
*{ box-sizing: border-box; margin: 0; padding: 0; }
html,body{ height: 100%; }
ul,ol{ list-style: none; }
a{ color: #666666; text-decoration: none; }

ul{
  overflow: hidden;
}

ul li{
  float: left;
  border-left: 1px solid #f1f1f1;
}

ul li:first-child{
  border-left: 0;
}

ul li button{
  line-height: 30px;
  height: 30px;
  font-size: 18px;
  outline: none;
  background: none;
  border: none;
  padding: 0 10px;
}

#content{
  border: 1px solid #f1f1f1;
  min-width: 500px;
  min-height: 500px;
  margin-top:10px;
  display: inline-block;
  background-color: #f9f9f9;
   
}
